<md-input-container class="wish-list-url-input-container" md-no-float>
    <label class="">{{'inputText' | translate}}</label>
    <input class="wish-list-url-input"
           name="wishListUrlInputField"
           ng-model="wishListUrl"
           ng-change="wishListInput.deconstructUrlWithRegex(wishListUrl)"
           ng-pattern='wishListInput.urlRegex'
           autocapitalize="none">
    <md-tooltip md-autohide md-delay="500">
        {{"eg" | translate}} http://www.nziff.co.nz/s/iDO
    </md-tooltip>
</md-input-container>