<div class="component-getWishListMovies">
    <div id="wish-list-form-container" class="cover-container" ng-class="{'move-cover-container':getWishListMovies.getWishListMoviesService.hasLoadedMovies}">
        <div class="form-group">
            <div class="input-button-filter-container">
                <div class="input-button-container">
                    <d-get-wish-list-movies-get-movies-wish-list-input></d-get-wish-list-movies-get-movies-wish-list-input>

                    <md-button class="md-raised wish-list-url-button " ng-disabled="getWishListMovies.getWishListMoviesService.busy" ng-click="getWishListMovies.getWishListMoviesService.getWishListMovies()">{{'enterText' | translate}}</md-button>
                </div>
                <d-get-wish-list-movies-get-movies-filter-menu></d-get-wish-list-movies-get-movies-filter-menu>
            </div>
        </div>
    </div>
</div>