.filter-container{
  background: white;
  max-width: 475px;
}

.minStartTime, .maxEndTime{
  width: 7em;
}

md-input-container{
  text-align: left;
}

.filter-options{
  * {display: inline-block}
}

.valid-day-toggle {
  display: block;
}

.show-filter-menu-button {
  margin: 0;
  position: relative;
  display: inline-flex;
  margin-right: 5px;
  margin-left: 5px;
}