$header-colour: #059CE4;
$backgroundImage: url('http://loganelliott.xyz/assets/images/movieStills/TheLobster.jpg');

.toolbar-language-header-share-container{
  &.md-toolbar{
    min-height: 64px;
  }
}

.toolbar-language-header-share{
  &.md-toolbar-tools{
    min-height: 64px;
    @media (max-width: 414px){
      flex-direction: column;
    }
    height: auto;
    max-height:none;
  }
}

d-get-wish-list-movies-language-select{
  margin-left: 1%;
  margin-right: 0.5%;
}

header{
  margin-left: 0.5%;
  margin-right: 0.5%;
  font-size: x-large;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  a {
    text-decoration: none;
    color: black;
  }
}

d-get-wish-list-movies-shareable-link{
  margin-left: 0.5%;
  margin-right: 1%;
}

d-get-wish-list-movies-get-movies-wish-list-input{
  margin-top: 10px;
  margin-bottom: 50px;
}

body {
    background-image: $backgroundImage !important;
}

