.display-movies-outer-container {
  text-align: center;
  width: 100%;
  background-color: white;
  margin-top: 10%;
  margin-bottom: 10%; }

#component-display-wishlist-movies {
  display: inline-block; }

.display-movies-inner-container {
  text-align: left;
  margin: 10px; }

.day-of-movies {
  margin: 10px; }

.day-of-movies-date {
  position: relative;
  font-size: larger;
  font-weight: bold; }

.movies-for-day {
  margin: 20px; }

.movie-image {
  width: 160px;
  margin-right: 10px; }

.movie-title {
  font-weight: bold; }
  .movie-title a {
    text-decoration: none;
    color: black; }

#movies-loading-spinner {
  position: absolute;
  left: 50%;
  top: 50%; }

div > md-list-item.movie-info {
  display: inline-block;
  margin-top: auto;
  margin-bottom: auto;
  text-align: left;
  padding: 0; }

.hide-loaded-movies > * {
  opacity: 0.4; }
